<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @student.product %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @student.picture %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
